/* Normalize
   ========================================================================== */
@import "base/_normalize";

/* Charte typographique
   ========================================================================== */
@import "base/_typo";

/* Utilitaires
   ========================================================================== */
@import "base/_variables";


/* Mise en page
   ========================================================================== */
/** Footer
    ========================================================================== */
footer{
  margin: 3rem 0 0 0;
  background-color: $noir;
  border: $blanc solid 3px;
}
.inspiration,
.inspi,
.droits{
  color: $blanc;
}
.droits{
  font-size: 1.2rem;
  text-align: center;
  margin: 5rem auto 2rem auto;
}
.inspiration{
  margin: 1.5rem 2.5rem;
}
.liste-inspi{
  display: inline-flex;
  flex-direction: column;
}
.img_footer{
  max-width: 280px;
  margin: auto;
}
.infos_footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media(min-width: 800px){
  .img_footer{
    max-width: 400px;
    margin: 0;
  }
  .infos_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}