/**
 * Typographie responsive (Mobile First)
   ========================================================================
 *
 * @author Clodiane Charette 2164515@csfoy.ca
 *
 * TABLE DES MATIÈRES
 * Polices
 * Base décimale
 * Hiérarchie responsive
 *
 *
 * Doc des points de rupture :
 * ==========================================================================
 * Écran étroit : de 0 à 800px
 * point de rupture: 800px
 *
 * Écran large : 801px et +
 */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

h1,
.h1{
  font-family: "RubikDirt", sans-serif ;
}
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: "Alata", sans-serif ;
}
body{
  font-family: "Arial", sans-serif ;
}


/* Base décimale */
html{
  font-size: 62.5%;
}


body {
  /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
  line-height: 1.375;
}
@media (min-width: 600px) {
  body {
    line-height: 1.5;
  }
}
@media (min-width: 800px) {
  body {
    line-height: 1.75;
  }
}


/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
h1,
.h1 { /* = 40px */
  font-size: 4rem;
}
@media (min-width: 800px) {
  h1,
  .h1 { /* = 50px */
    font-size: 5rem;
  }
}

h2,
.h2 { /* = 35px */
  font-size: 3.5rem;
}
@media (min-width: 800px) {
  h2,
  .h2 { /* = 40px */
    font-size: 4rem;
  }
}

h3,
.h3 { /* = 30px */
  font-size: 3rem;
}
@media (min-width: 800px) {
  h3,
  .h3 {  /* = 35px */
    font-size: 3.5rem;
  }
}

h4,
.h4 { /* = 16px */
  font-size: 1.6rem;
}
@media (min-width: 600px) {
  h4,
  .h4 { /* = 18px */
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  h4,
  .h4 { /* = 22px */
    font-size: 2.2rem;
  }
}