$blanc: #FFFFFF;
$jaune: #FFE607;
$mauve: #AC3AB6;
$bleu: #46D3D3;
$charcoal: #242526;

$lumiere-jaune_table:"";
$lumiere-mauve_table:"";
$lumiere-bleu_table:"";
$lumiere-jaune_mobile:"";
$lumiere-mauve_mobile:"";
$lumiere-bleu_mobile:"";

/*** Clearfix ***/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Images fluides */
img{
  max-width: 100%;
}

/*** Styles de base ***/
abbr[title]{
  text-decoration: none;
  cursor:help;
}
abbr[title]:hover{
  background-color: rgba(244, 161, 71, 0.25);
}

/** Accessibilité
  * Pour cacher visuellement tout en gardant accessible un contenu:
  * screen-reader-only ou visuallyhidden **/
.screen-reader-only,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}